.Banner {
    color: var(--white);
    background-color: var(--navy);
    font-family: var(--font-cambria);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2%;
    padding-bottom: 2%;
    background-image: url('../../../../images/BG.png');

    .Route {
        font-size: var(--font-size-title-xs);
        letter-spacing: var(--letter-spacing-title);
        line-height: var(--line-height-title);
        padding-top: 1%;
        text-decoration: underline;
    }

    .OurFunds {
        font-size: var(--font-size-display-xl);
        padding-top: 3%;
    }
}