.FilterManagerButtons {
    display: flex;
    flex-direction: row;
    
    .ManagerButton {
        display: flex;
        margin: 5% 10% 5% 10%;
        padding: 6%;
        border-radius: 20px;
        border: 0;

        color: var(--light-warm-grey-800);
        font-family: var(--font-cambria);
        font-size: var(--font-size-label-s);

    }

    .Selected
    {
        background-color: var(--orange);
        color: var(--white);
    }

    .ManagerButtonClear
    {
        display: flex;
        margin: 5% 10% 5% 10%;
        padding: 6%;
        border-radius: 20px;
        border: 0;
    }

    
}