.FundsSectionDisplay {

    flex-basis: 80%;

    color: var(--navy);
    font-family: var(--font-cambria);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-left: 3%;
    padding-right: 3%;

    .FundsSectionDisplayFilters {
        display: flex;
        flex-direction: row;

        .SearchBarContent{
            flex-basis: 70%;

            .SearchIcon {
                position: absolute;
                margin: 9px;
            }
    
            .SearchBar {
                width: 90%;
                margin-right: 5%;
                border-radius: 0;
                border: 1px solid var(--light-warm-grey-500);
                height: 38px;
                padding-left: 40px;
            }
        }

        .DoubleButtons {
            display: flex;
            flex-basis: 30%;
            flex-direction: row;
            width: auto;
            justify-content: center;

            .Selected {
                border: 1px solid var(--teal) !important;
            }

            .Grid {
                border: 1px solid var(--light-warm-grey-500);
                background-color: var(--white);
                display: flex;
                flex-direction: row;
                flex-basis: 40%;
                border-radius: 20px 0 0 20px;

                p {
                    margin-right: 10%;
                    font-family: var(--font-tahoma);
                    font-size: var(--font-size-body-s);
                    letter-spacing: var(--letter-spacing-body);
                    line-height: var(--line-height-body);
                }
            }

            .List {
                border: 1px solid var(--light-warm-grey-500);
                background-color: var(--white);
                display: flex;
                flex-direction: row;
                flex-basis: 40%;
                border-radius: 0 20px 20px 0;

                p {
                    margin-left: 10%;
                    font-family: var(--font-tahoma);
                    font-size: var(--font-size-body-s);
                    letter-spacing: var(--letter-spacing-body);
                    line-height: var(--line-height-body);
                }
            }
        }
    }

}