.FundTableHeader {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    font-family: var(--font-cambria);
    font-size: var(--font-size-label-m);
    font-style: var(--label-italic);
    font-weight: var(--label-bold);
    letter-spacing: var(--letter-spacing-label-bold-italic);
    line-height: var(--line-height-label);

    padding-bottom: 1%;
    padding-left: 2%;
    border-bottom: 2px solid var(--light-warm-grey-500);

    .HeaderName {
        
        margin: auto;
        flex-direction: column;
        flex-basis: 35%;
        letter-spacing: var(--letter-spacing-body);
        line-height: var(--line-height-body);
    }
    
    .HeaderItem {
        margin: auto;
        flex-basis: 12%;
        color: var(--navy);
    }

    .Spacer {
        flex-basis: 5%;
    }
    
}